* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
}

.bar {
  border-radius: 10px;
  background-color: #0e2a3f;
}

.time {
  font-size: 19px;
  color: #00e0f0;
}

.workspace {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #0e2636;
  color: #00b0d0;
}

.active_workspace {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #0eaabf;
  color: #002222;
}
/*
.workspace {
  border-top: 0px;
}
*/